*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardItem{
    height: auto;
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-width: 0px;
    border-style: solid;
    border-color: transparent;
    border-radius: 1rem 1rem 2rem 1rem;
    background-color: rgba(8, 6, 6, 0.103);
    transition: all 400ms ease-out;
    overflow: hidden;
    margin-top: 0%;

    &:hover {
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.705);
        transform: translateY(-3%);
    }
}


/* Imagen Card */
.imgCart{
    width: 30px;
    height: 30px;
}

.cardItem .cardImg{

    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardItem .cardImg img{
    max-width: 100%;
    border-radius: 1rem;


    &:hover {
        transition: 0.5s;
        transform: scale(1.2, 1.2);
    }
}

/* Descripcion */
.cardDescription{
    display: flex;
    flex-direction: column;
    height: 35%;
    position: relative;
}

.cardDescription .title{
    font-size: 21px;
    margin: 6px 0;
}

.cardDescription .description{
    display: none;
}

.cardDescription .cant{
    color: black;
    font-size: 13px;
    margin: 6px 0;
}

.cardDescription .precio{
    color: blue;
    font-size: 36px;
    font-weight: bold;
    margin: 6px 0;
}

/* Contenedor de Botones */
.buttons{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}

.buttons #detalles{
    height: 55px;
    width: 75%;
    border-radius: 50px;
    background-color: blue;
    color: white;
    font-size:  20px;
    border: none;
    cursor: pointer;

    &:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
    transition: background-color .2s, color .2s;
    }
}


.buttons #addCart{
    background-color: blue;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    &:hover{
        border: 1px solid blue;
        background-color: white;
        color: blue;
        }
}

.buttons #addCart img{
    transform: scale(0.8);
}